/* Button component */

.button {
	--button-color: initial;
	--button-bg-color: initial;
	--button-border-color: initial;
	--button-shadow: initial;
	--button-padding: initial;
	--button-gap: initial;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	text-transform: uppercase;
	gap: var(--button-gap);
	padding: var(--button-padding);
	border-radius: var(--border-radius-unit);
	color: var(--button-color);
	border: 1px solid var(--button-border-color);
	background-color: var(--button-bg-color);
	box-shadow: var(--button-shadow);
	transition: all 100ms ease-in-out;
}

.button svg {
	fill: currentcolor;
}

.button[fullwidth] {
	width: 100%;
}

.outlined,
.icon_outlined {
	--button-bg-color: transparent;
}

.contained,
.icon_contained {
	--button-color: var(--surface-color-1);
	--button-border-color: var(--button-bg-color);
}

.text,
.icon_flat {
	--button-bg-color: transparent;
	--button-border-color: transparent;
}

.icon_outlined,
.icon_contained,
.icon_flat {
	--button-shadow: 0;
	width: fit-content;
}


/* [s-color] */
.outlined[s-color="primary"],
.icon_outlined[s-color="primary"] {
	--button-color: var(--brand-color);
	--button-border-color: var(--button-color);
}

.contained[s-color="primary"],
.icon_contained[s-color="primary"] {
	--button-bg-color: var(--brand-color);
}

.text[s-color="primary"],
.icon_flat[s-color="primary"] {
	--button-color: var(--brand-color);
}


.outlined[s-color="info"],
.icon_outlined[s-color="info"] {
	--button-color: var(--info-color);
	--button-border-color: var(--button-color);
}

.contained[s-color="info"],
.icon_contained[s-color="info"] {
	--button-bg-color: var(--info-color);
}

.text[s-color="info"],
.icon_flat[s-color="info"] {
	--button-color: var(--info-color);
}


.outlined[s-color="success"],
.icon_outlined[s-color="success"] {
	--button-color: var(--success-color);
	--button-border-color: var(--button-color);
}

.contained[s-color="success"],
.icon_contained[s-color="success"] {
	--button-bg-color: var(--success-color);
}

.text[s-color="success"],
.icon_flat[s-color="success"] {
	--button-color: var(--success-color);
}


.outlined[s-color="warning"],
.icon_outlined[s-color="warning"] {
	--button-color: var(--warning-color);
	--button-border-color: var(--button-color);
}

.contained[s-color="warning"],
.icon_contained[s-color="warning"] {
	--button-bg-color: var(--warning-color);
}

.text[s-color="warning"],
.icon_flat[s-color="warning"] {
	--button-color: var(--warning-color);
}


.outlined[s-color="error"],
.icon_outlined[s-color="error"] {
	--button-color: var(--failure-color);
	--button-border-color: var(--button-color);
}

.contained[s-color="error"],
.icon_contained[s-color="error"] {
	--button-bg-color: var(--failure-color);
}

.text[s-color="error"],
.icon_flat[s-color="error"] {
	--button-color: var(--failure-color);
}


.outlined[s-color="current"],
.icon_outlined[s-color="current"] {
	--button-color: currentcolor;
	--button-border-color: var(--button-color);
}

.contained[s-color="current"],
.icon_contained[s-color="current"] {
	--button-bg-color: currentcolor;
}

.text[s-color="current"],
.icon_flat[s-color="current"] {
	--button-color: currentcolor;
}


/* loading */
.button[loading] {
	cursor: wait;
}


/* :hover */
.outlined:hover,
.icon_outlined:hover {
	--button-border-color: var(--button-color);
	--button-bg-color: var(--hover-overlay);
}

.text:hover,
.icon_flat:hover {
	--button-bg-color: var(--hover-overlay);
}

.contained:hover[s-color="primary"],
.icon_contained:hover[s-color="primary"] {
	--button-bg-color: var(--hover-brand-color);
}

.contained:hover[s-color="info"],
.icon_contained:hover[s-color="info"] {
	--button-bg-color: var(--hover-info-color);
}

.contained:hover[s-color="success"],
.icon_contained:hover[s-color="success"] {
	--button-bg-color: var(--hover-success-color);
}

.contained:hover[s-color="warning"],
.icon_contained:hover[s-color="warning"] {
	--button-bg-color: var(--hover-warning-color);
}

.contained:hover[s-color="error"],
.icon_contained:hover[s-color="error"] {
	--button-bg-color: var(--hover-failure-color);
}

.contained:hover[s-color="current"],
.icon_contained:hover[s-color="current"] {
	--button-bg-color: currentcolor;
}


/* :focus */
.outlined:focus,
.text:focus,
.icon_outlined:focus,
.icon_flat:focus {
	--button-bg-color: var(--focus-overlay);
}

.contained:focus[s-color="primary"],
.icon_contained:focus[s-color="primary"] {
	--button-bg-color: var(--focus-brand-color);
}

.contained:focus[s-color="info"],
.icon_contained:focus[s-color="info"] {
	--button-bg-color: var(--focus-info-color);
}

.contained:focus[s-color="success"],
.icon_contained:focus[s-color="success"] {
	--button-bg-color: var(--focus-success-color);
}

.contained:focus[s-color="warning"],
.icon_contained:focus[s-color="warning"] {
	--button-bg-color: var(--focus-warning-color);
}

.contained:focus[s-color="error"],
.icon_contained:focus[s-color="error"] {
	--button-bg-color: var(--focus-failure-color);
}

.contained:focus[s-color="current"],
.icon_contained:focus[s-color="current"] {
	--button-bg-color: currentcolor;
}


.outlined:focus[s-color="primary"],
.icon_outlined:focus[s-color="primary"] {
	--button-color: var(--focus-brand-color);
}

.outlined:focus[s-color="info"],
.icon_outlined:focus[s-color="info"] {
	--button-color: var(--focus-info-color);
}

.outlined:focus[s-color="success"],
.icon_outlined:focus[s-color="success"] {
	--button-color: var(--focus-success-color);
}

.outlined:focus[s-color="warning"],
.icon_outlined:focus[s-color="warning"] {
	--button-color: var(--focus-warning-color);
}

.outlined:focus[s-color="error"],
.icon_outlined:focus[s-color="error"] {
	--button-color: var(--focus-failure-color);
}

.outlined:focus[s-color="current"],
.icon_outlined:focus[s-color="current"] {
	--button-color: currentcolor;
}


/* :active */
.button:active {
	transform: translateY(1px);
}

.outlined:active,
.text:active,
.icon_outlined:active,
.icon_flat:active {
	--button-bg-color: var(--active-overlay);
}

.contained:active[s-color="primary"],
.icon_contained:active[s-color="primary"] {
	--button-bg-color: var(--active-brand-color);
}

.contained:active[s-color="info"],
.icon_contained:active[s-color="info"] {
	--button-bg-color: var(--active-info-color);
}

.contained:active[s-color="success"],
.icon_contained:active[s-color="success"] {
	--button-bg-color: var(--active-success-color);
}

.contained:active[s-color="warning"],
.icon_contained:active[s-color="warning"] {
	--button-bg-color: var(--active-warning-color);
}

.contained:active[s-color="error"],
.icon_contained:active[s-color="error"] {
	--button-bg-color: var(--active-failure-color);
}

.contained:active[s-color="current"],
.icon_contained:active[s-color="current"] {
	--button-bg-color: currentcolor;
}


/* :disabled */
.button:disabled,
.button[disabled] {
	cursor: not-allowed;
	pointer-events: none;
}

.outlined:disabled,
.outlined[disabled],
.icon_outlined:disabled,
.icon_outlined[disabled] {
	--button-color: var(--disable-overlay);
	--button-border-color: var(--divider-color);
}

.contained:disabled,
.contained[disabled],
.icon_contained:disabled,
.icon_contained[disabled] {
	--button-color: var(--disable-overlay);
	--button-bg-color: var(--surface-disable-color);
	--button-shadow: 0;
}

.text:disabled,
.text[disabled],
.icon_flat:disabled,
.icon_flat[disabled] {
	--button-color: var(--disable-overlay);
}


/* .size */
.none {
	--button-padding: 0;
}

.small {
	composes: button_small from '@/style/typography.module.css';
}

.medium {
	composes: button_medium from '@/style/typography.module.css';
}

.large {
	composes: button_large from '@/style/typography.module.css';
}

.none
.icon_outlined.none,
.icon_contained.none,
.icon_flat.none {
	--button-padding: 0;
	--button-gap: 0;
}

.small,
.icon_outlined.small,
.icon_contained.small,
.icon_flat.small {
	--button-padding: calc(var(--padding-unit) * 0.8) calc(var(--padding-unit) * 0.8);
	--button-gap: 0;
}

.medium,
.icon_outlined.medium,
.icon_contained.medium,
.icon_flat.medium,
.icon_outlined,
.icon_contained,
.icon_flat {
	--button-padding: calc(var(--padding-unit) * 1) calc(var(--padding-unit) * 1);
	--button-gap: 0;
}

.large,
.icon_outlined.large,
.icon_contained.large,
.icon_flat.large {
	--button-padding: calc(var(--padding-unit) * 1.2) calc(var(--padding-unit) * 1.2);
	--button-gap: 0;
}


.none,
.outlined.none,
.text.none,
.contained.none {
	--button-padding: 0;
	--button-gap: calc(var(--spacing-unit) * .5);
}

.small,
.outlined.small,
.text.small,
.contained.small {
	--button-padding: calc(var(--padding-unit) * .2) calc(var(--padding-unit) * .8);
	--button-gap: calc(var(--spacing-unit) * .5);
}

.medium,
.outlined.medium,
.text.medium,
.contained.medium,
.outlined,
.text,
.contained {
	--button-padding: calc(var(--padding-unit) * 0.4) calc(var(--padding-unit) * 1.2);
	--button-gap: calc(var(--spacing-unit) * 1);
}

.large,
.outlined.large,
.text.large,
.contained.large {
	--button-padding: calc(var(--padding-unit) * 0.8) calc(var(--padding-unit) * 1.4);
	--button-gap: calc(var(--spacing-unit) * 1.5);
}


/* ButtonGroup component */

.button_group {
	display: flex;
	flex-wrap: nowrap;
}

.button_group,
.horizontal_orientation {
	flex-direction: row;
}

.vertical_orientation {
	flex-direction: column;
}


.button_group.horizontal_orientation .button:first-of-type {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_group.horizontal_orientation .button:not(:first-of-type, :last-of-type) {
	border-radius: 0;
}

.button_group.horizontal_orientation .button:last-of-type {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


.button_group.vertical_orientation .button:first-of-type {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.button_group.vertical_orientation .button:not(:first-of-type, :last-of-type) {
	border-radius: 0;
}

.button_group.vertical_orientation .button:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
