@layer reset, base, default, module, util, component, overrride;

@import 'normalize.css' layer(reset);
@import 'token.css' layer(base);

@layer reset {
	fieldset, ul, ol, h1, h2, h3, h4, h5, h6, p, pre, button {
		border: 0;
		padding: 0;
		margin: 0;
	}

	input[type="range"] {
		appearance: none;
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
	}

	button {
		background-color: transparent;
	}

	ul, ol {
		list-style: disc inside;
	}
}

@layer default {
	* {
		box-sizing: border-box;
	}
	::marker {
		margin-right: calc(var(--margin-unit) * 1);
	}

	::-webkit-scrollbar {
		width: calc(var(--spacing-unit) * .5);
		height: calc(var(--spacing-unit) * .5);
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-track:hover {
		background: var(--surface-color-4);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--disable-brand-color);
		border-radius: var(--full-border-radius);
	}

	* {
		scrollbar-width: calc(var(--spacing-unit) * .5);
		scrollbar-color: var(--disable-brand-color) var(--surface-color-4);
		scroll-behavior: smooth;
	}


	:focus-visible {
		outline-color: var(--outline-color);
		outline-style: var(--outline-style);
		outline-width: var(--outline-width);
		outline-offset: var(--outline-offset);
	}

	a {
		color: var(--text-link-color);
		text-decoration: none;
		cursor: pointer;
	}
	a:link, a:visited, a:active {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}

	pre {
		font-family: var(--font-family-monospace);
	}

	hr {
		margin: 0;
		border: 0 solid var(--divider-color);
		border-bottom-width: thin;
		border-right-width: thin;
		align-self: stretch;
		height: auto;
		flex-shrink: 0;
	}

	svg {
		width: 1em;
		height: 1em;
		font-size: inherit;
	}

	:root {
		accent-color: var(--brand-color);
	}

	body {
		font-family: var(--font-family);
		font-weight: var(--font-weight-regular);
		font-size: calc(var(--font-size) * 0.875);
		line-height: calc(var(--line-height) * 1.1);
		letter-spacing: var(--letter-spacing-tight);

		background-color: var(--surface-color-1);
		color: var(--text-color-1);

		display: flex;
		flex-flow: column nowrap;
		place-items: center flex-start;
		width: 100vw;
	}

	#app {
		max-width: 980px;
		width: 100%;
		padding: calc(var(--spacing-unit) * 4);
	}

	:root {
		--brand-color-original-hue: 171;
		--brand-color-original-saturation: 96;
		--brand-color-original-lightness: 51;
		--brand-color-original-alpha: 0;
	}
}
